In [1]:
import numpy as np

In [2]:
temperatura_lista  = [12.34 , 34.6, 65.2, 78.5, 12.7, 87.5]
temperatura_array = np.array(temperatura_lista)
print(temperatura_array, type(temperatura_array))

[12.34 34.6  65.2  78.5  12.7  87.5 ] <class 'numpy.ndarray'>

In [3]:
array2D = np.array([[5,8],[9,2]])
print(array2D,type(array2D))

[[5 8]
 [9 2]] <class 'numpy.ndarray'>

In [4]:
print(array2D.shape)

(2, 2)

In [5]:
print(array2D[0])
print(array2D[1])

[5 8]
[9 2]

In [6]:
print("primera columna", array2D[:,0])
print("Segunda columna", array2D[:,1])

primera columna [5 9]
Segunda columna [8 2]

#Funciones

In [7]:
#algoritmo natural
np.log(temperatura_array)

array([2.51284602, 3.54385368, 4.17745947, 4.36309862, 2.54160199,
       4.47163879])

In [8]:
print(np.mean(temperatura_array))
print(np.std(temperatura_array))
print(np.sum(temperatura_array))
print(np.max(temperatura_array))

48.47333333333333
30.227695174385286
290.84
87.5

#Pandas

In [9]:
import pandas as pd

In [10]:
precios = [123.5, 765.23, 345.6, 375.7, 152.6, 765.3]
serie = pd.Series(precios)
print(serie)

0    123.50
1    765.23
2    345.60
3    375.70
4    152.60
5    765.30
dtype: float64

In [11]:
#para cambiar el index
serie = pd.Series(precios,index = ['I','II','III','IV','V','VI'])
print(serie)

I      123.50
II     765.23
III    345.60
IV     375.70
V      152.60
VI     765.30
dtype: float64

In [12]:
serie.index = [4,8,9,3,6,1]
print(serie)

4    123.50
8    765.23
9    345.60
3    375.70
6    152.60
1    765.30
dtype: float64

In [13]:
print(serie[2:])
print(serie[:-3])

9    345.6
3    375.7
6    152.6
1    765.3
dtype: float64
4    123.50
8    765.23
9    345.60
dtype: float64

In [14]:
# son como diccionarios
print(serie[4])
serie[4] = 0
print(serie)

123.5
4      0.00
8    765.23
9    345.60
3    375.70
6    152.60
1    765.30
dtype: float64

In [15]:
serie = pd.Series(precios,name = 'Acciones')
print(serie)
print(serie.name)

0    123.50
1    765.23
2    345.60
3    375.70
4    152.60
5    765.30
Name: Acciones, dtype: float64
Acciones

In [16]:
print(serie.describe())

count      6.000000
mean     421.321667
std      284.716779
min      123.500000
25%      200.850000
50%      360.650000
75%      667.847500
max      765.300000
Name: Acciones, dtype: float64

#Time index

In [17]:
tiempo_ind = pd.date_range('2021-01-01', periods = len(serie), freq = 'D')
print(tiempo_ind)
serie.index = tiempo_ind
print(serie)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')
2021-01-01    123.50
2021-01-02    765.23
2021-01-03    345.60
2021-01-04    375.70
2021-01-05    152.60
2021-01-06    765.30
Freq: D, Name: Acciones, dtype: float64

Para acceder a las series se usa iloc y loc

In [18]:
serie.index = [1,2,3,4,5,6]
print(serie)
print(serie[1])

1    123.50
2    765.23
3    345.60
4    375.70
5    152.60
6    765.30
Name: Acciones, dtype: float64
123.5

In [19]:
print(serie.iloc[2])

345.6

In [20]:
serie.index = tiempo_ind #pone las fechas como indices a las serie
print(serie['2021-01-03']) # acceder con index al

345.6

In [21]:
print(serie['2021-01-02':'2021-01-05'])

2021-01-02    765.23
2021-01-03    345.60
2021-01-04    375.70
2021-01-05    152.60
Freq: D, Name: Acciones, dtype: float64

In [22]:
print(serie[serie < np.mean(serie)])
print(serie[(serie > np.mean(serie)) & (serie < np.mean(serie) + 2*np.std(serie))])

2021-01-01    123.5
2021-01-03    345.6
2021-01-04    375.7
2021-01-05    152.6
Name: Acciones, dtype: float64
2021-01-02    765.23
2021-01-06    765.30
Name: Acciones, dtype: float64